* {
    box-sizing: border-box;
    margin: 0;
    padding: 10;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, rgb(92, 194, 163) 0%, #2436db 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    padding-right: 13px;
}

.header {
    background-color: #eee;
    padding: 20px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    padding: 15px;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

.form button {
    background-color: #50c569;
    border: 2px solid #346438;
    color: black;
    font-size: 14px;
    width: 91%;
    border-radius: 10px;
    margin: 5%;
    padding: 10px;
}

.form-control.succes input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

button,
div {
    color: rgb(9, 12, 12);
    cursor: pointer;
    box-shadow: 1px 1px 6px rgb(14, 15, 15);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 10px;
}